[2015-08-26 22:38] darylldoyle opened #1 "PHP 5.2 compatibility"
Currently wont work on PHP 5.2 due to namespacing. Not sure what the pros/cons of dropping namespacing to support 5.2 could be.

[2015-09-28 00:32] oparoz commented on #1
Please don't :) Even if some people still use 5.2, the oldest supported PHP version is 5.5. It's easier to work with more recent version of PHP.

[2015-09-28 08:05] darylldoyle commented on #1
Those were my thoughts, only reason I can see for dropping to support PHP 5.2 is that WordPress still do. That said, even they have it marked as EOL so probably not worth it

[2015-09-28 13:17] majestrate opened #2 "svg attribute sanitizer does not filter out FuncIRI"
https://github.com/infinity-next/infinity-next/issues/121#issuecomment-143740026

http://www.w3.org/TR/SVG/types.html#DataTypeFuncIRI

Not sure how this could be fixed without castrating the SVG format.

[2015-09-28 13:18] jaw-sh commented on #2
Are you sure? Commit db334584f1ac41843bf28e186b75905d90d92fa2 appears to be adding href cleansing to the unit tests.

[2015-09-28 13:24] majestrate commented on #2
consider the following element

    <rect fill="url('http://trackingsite.tld/image.png')" x="0" y="0" width="1000" height="1000">
    </rect>

it doesn't use href

[2015-09-28 14:21] darylldoyle commented on #2
Yep, you're right, the following:

[code]
Is not sanitised and comes out as:

[code]

I will take a look at this tonight, it will probably require doing extra checks on the attributes listed [here](http://www.w3.org/TR/SVG/linking.html#processingIRI) and removing any external references.

[2015-09-28 14:28] jaw-sh commented on #2
Thanks @darylldoyle for the prompt response.

By the way, regarding 5.2 compatibility, I'd advise against it. Namespaces are really important especially in modern frameworks. The last update to 5.2 was in January of 2011 -- anyone running that needs a head check.

[2015-09-28 17:44] darylldoyle commented on #2
After looking into this a little further and consulting with a few others, it seems that externally referenced URIs in `fill`, `mask`, `filter` and `clip-path` actually pose no threat of XSS. The referenced files' JS never seems to get executed.

Whilst we could filter this to prevent HTTP leaks, I feel this might be a tad over the top. In the end, we already strip a huge number of elements/proper

[2015-09-28 17:46] darylldoyle commented on #2
Also @jaw-sh I can't see dropping to 5.2 support. Just thought I'd put the question out there. I feel if you're using 5.2, you have bigger issues that SVG attacks.

[2015-09-29 01:44] jaw-sh commented on #2
We were looking to use this library on an imageboard software suite,
with the intent of allowing people to distribute their own SVGs.

While it may not pose an XSS threat, imageboard users are extremely
concerned about their privacy. I'm either going to have to drop SVG
support or find a way to remove remote references. To me, it'd be worth
the processing. I wouldn't even mind it as an option, lik

[2015-09-29 20:43] darylldoyle commented on #2
I'll take a look into adding the option to turn remote references off. Not sure how much work it'll be so I'll have to look at it over the next couple of days and let you know the outcome here when I know what's happening!

Otherwise, if you have some time, feel free to add it in a PR and I'll be happy to look over it and merge.

[2015-11-03 20:42] tmhpfnr opened #3 "Consider attributes and tags case sensitivity"
Hi! IMHO the whitelisted attributes and tags should be case sensitive, e.g. viewbox becomes viewBox.

[2015-11-19 04:54] heyMP opened #5 "Drupal Module"
Just wanted to let you know, I just made a Drupal module that integrates with your svg-sanitizer.  Thanks for the library!

https://www.drupal.org/project/svg_sanitizer

[2015-11-19 12:03] darylldoyle commented on #3
Sorry for the delayed response.

I've been having a look into this but I'm not 100% sure on the best way to move forward with it. I see that it's an issue but as XML should be case sensitive I'm not sure how to proceed.

My initial thought was lowercasing the whole XML string before parsing, but that's going to break stuff. We could potentially use something like [this](http://codingexplained.com/

[2015-11-19 12:06] #5 closed

[2015-11-19 12:07] darylldoyle commented on #5
Thanks :) I've added a link to the readme!

[2015-11-19 12:07] #1 closed

[2015-11-23 22:40] TimHoepfner commented on #3
I like the idea to keep it compatible to existing implementations. Why not just adding the missing (lower camel case) attributes/tags to the default list (like I did [here](https://github.com/TimHoepfner/svg-sanitizer/commit/728615bdc0f799197ab35fa53e3e7aef8ad1f337#diff-80c36bab8514574c0b8cc4116bf852cbR151)). In my opinion your library should support the [standardized attributes](http://www.w3.org

[2015-11-25 13:49] darylldoyle commented on #3
That sounds fair enough to me, support the camel case tags and leave it open to customisation by other implementations.

When I get a moment, I'll add the camel case tags to the default list!

[2016-02-27 10:32] #3 closed

[2016-11-26 21:50] FreddieChopin opened #6 "Sanitizer removes too much of data from SVG"
When the attached file is uploaded via this plugin, the arrow on the vertical axis is rotated 90degrees - instead of pointing up it points to the right.

Original:
[scheduling.zip](https://github.com/darylldoyle/svg-sanitizer/files/614469/scheduling.zip)

Sanitized:
[scheduling-sanitized.zip](https://github.com/darylldoyle/svg-sanitizer/files/614470/scheduling-sanitized.zip)

Wrong:
![screenshot f

[2016-11-26 21:52] FreddieChopin commented on #6
Just to be clear, I'm using sanitizer via Safe SVG plugin in wordpress.

[2016-11-28 10:44] darylldoyle commented on #6
Thanks for the report Freddie, I've narrowed this down to the orient attribute being stripped from the arrowheads.

I'll take a closer look at this tonight and hopefully get a fix up for you!

[2016-12-01 23:18] darylldoyle commented on #6
7a1e99504b54698607f039b4384f626d13222aeb fixes this one. A WordPress plugin update will follow shortly!

[2016-12-01 23:18] #6 closed

[2016-12-03 11:14] FreddieChopin commented on #6
Thanks, the arrow is no longer changed!

[2016-12-03 12:10] FreddieChopin opened #7 "Blurred "drop-shadows" removed"
When uploading SVG file (via Safe SVG WordPress plugin) attributes for "blur" are removed from elements.

Original:
![screenshot from 2016-12-03 13-05-37](https://cloud.githubusercontent.com/assets/1139038/20859256/a535828e-b959-11e6-8120-198f5d7918a8.png)
[task-states.zip](https://github.com/darylldoyle/svg-sanitizer/files/628828/task-states.zip)

Sanitized:
![screenshot from 2016-12-03 13-05-13]

[2017-02-20 23:56] darylldoyle opened #8 "Should SVGZs be handled by the library or the code consuming the library?"
SVGZ's can be handled by running the content through `gzdecode()` before sanitisation and then running through `gzencode()` afterwards.

I'm fairly certain we can use `0 === mb_strpos($contents , "\x1f" . "\x8b" . "\x08")` to check if it's a gzipped string or not

Simple but should this be handled by the library or not?

[2017-02-21 01:08] #2 closed

[2017-02-21 01:08] #7 closed

[2017-02-21 01:09] darylldoyle commented on #7
All SVG filters should now be allowed by default!

[2017-02-21 01:11] darylldoyle commented on #2
You now have the ability to remove remote references by using `$sanitizer->removeRemoteReferences(true);`

Better late than never eh? Let me know how you get on with it!

[2017-02-21 01:23] darylldoyle opened #9 "Tests needed for minification and removal of remote references"
We have no tests currently in place for removal of remote references or minification.

These should be added at some point soon, see: https://codeclimate.com/github/darylldoyle/svg-sanitizer/coverage/58ab95a234f76d000101501b

[2017-02-21 23:03] darylldoyle commented on #9
Closed by de2516d415ed0ea68bbf3afcff5551713383c8bd

[2017-02-21 23:03] #9 closed

[2017-03-08 22:35] rheinardkorf commented on #8
On the one hand, I'm not sure what the demand for the support would be. It does mean that a user of this library will need to know that they need to setup their servers to handle the encoding for SVGZs correctly otherwise they will claim that your library does not work.

On the other hand, those that do configure their environments correctly and who would like to take advantage of compression woul

[2017-05-10 13:48] niklashultstrom opened #10 "Should xlink:href always be removed?"
Hello! Glad someone finally took on the SVG mess on WP :)

I ran in to this issue though, causing the SVG image not to display:

**Before**
[code]
**After (upload)**
[code]
Similair with the image element, though just removing the xlink:href attribute:

**Before**
[code]
**After**
[code]

Which makes me wonder if xlink:href should be removed when containing just an #id or an base64 data-image.

[2017-06-09 21:31] takobell opened #11 "XML header lines removed"
If you have an SVG files that begins with `<?xml version="1.0" encoding="utf-8"?>`, then Sanitizer will remove that when saving the clean XML elements back out to the XML file.

It happens in this line:

    $clean = $this->xmlDocument->saveXML($this->xmlDocument->documentElement, LIBXML_NOEMPTYTAG);

The reason is that all of the XML header info (verison, encoding, etc.) is saved on `$this->xmlDo

[2017-06-11 00:31] darylldoyle commented on #11
Hey @takobell,

Unless I'm overlooking something silly because it's late then I see no reason we can't enable the XML declaration to be returned.

I think originally because I was basing the library on DOMPurify I copied the way their library works. As theirs is all inline SVG, the XML declaration isn't required and is therefore stripped but I see how it could be useful in this lib.

Test data wil

[2017-06-11 00:44] darylldoyle commented on #10
Hi @niklashultstrom,

The `xlink:href` attribute is not removed in the sanitiser.

In your first example, you're using the `use` element. This is stripped from the file, rather than the `xlink:href` attribute. This is inline with the sanitisation of DOMPurify.

In your second example, again the `xlink:href` attribute is not removed but the `image` element you've supplied is invalid XML and therefo

[2017-06-11 00:44] #10 closed

[2017-06-11 21:25] takobell commented on #11
PR: https://github.com/darylldoyle/svg-sanitizer/pull/12

Tried to get phpunit up and running to update the tests, but was getting tons of random errors.

[2017-06-11 23:15] darylldoyle commented on #11
Thanks @takobell, tests passed fine once updated and it's now been merged into `0.6.0` :)

[2017-06-11 23:15] #11 closed

[2017-06-11 23:33] takobell commented on #11
Thanks, @darylldoyle!

[2017-06-20 09:45] darylldoyle opened #13 "SVG sanitizing strips out ARIA attributes"
As the title states, all ARIA attributes are stripped from the SVG. This shouldn't be the case and they should be preserved.

See https://css-tricks.com/accessible-svgs/ and http://rosel.li/wceu for info on this issue.

Initially reported at https://wordpress.org/support/topic/svg-sanitizing-strips-out-aria-attributes/

[2017-06-20 16:13] #13 closed

[2017-08-22 10:44] SeinopSys commented on #8
I'd suggest leaving it up to the consumer. Gzip decoding (as I've found) is not as straight forward as running any old string through `gzdecode`. If you didn't read the data [in a specific way](https://stackoverflow.com/a/17685755/1344955) it can become corrupted and `gzdecode` will fail.

[2017-10-31 13:55] kent1D commented on #10
Hmmm, that would be nice to make the same as this : https://github.com/cure53/DOMPurify/issues/233

The usage of `<use...` with relative content is frequent

[2017-10-31 14:24] kent1D opened #16 "`<use...>` shouldn't be removed"
To complete #10 the `<use...` tag is often used with relative ids : https://developer.mozilla.org/fr/docs/Web/SVG/Element/use

To make stars for example where each part is a repetition of the main one.

There is a hook approach in DomPurifier that doesn't exists here : https://github.com/cure53/DOMPurify/issues/233#issuecomment-314384301

The cleaning should be done by cleaning `xlink:href` and `h

[2017-10-31 16:17] darylldoyle commented on #16
Hi @kent1D,

I agree, I'd love to find a way to allow `<use>` elements through the sanitiser.

It's not actually `cleanXlinkHrefs()` or `cleanHrefs()` that's stripping the element, this happens during `startClean()` specifically these lines:

[code]

That said, if you'd like to allow the `<use>` element in the short term, you can use `setAllowedTags()` to pass through an updated list of tags that

[2017-12-06 11:45] #16 closed

[2017-12-09 21:48] drsassafras commented on #8
Perhaps someone using SVGZ files with svg-sanitizer could upstream their code so the rest could take advantage of it. Particularly if it's not as straightforward as it might seem, some well-tested code could be really useful in this regard.

[2018-08-15 15:11] tomjn opened #19 "Q: Are you aware of things this library does not catch?"
I'm investigating this library and associated plugins for my employer on behalf of some clients. I'm curious, are there any known SVG issues that this does not catch? I know that SVG's can never be made 100% safe, but I'm trying to ascertain the level of mitigation this library provides, and determine the language and certainty that can be provided to clients if it's integrated into our processes

[2018-08-16 09:08] darylldoyle commented on #19
Hi @tomjn, I'm not aware of any issues that slip through currently and try to stay up to date on any bypasses found elsewhere. This library is probably still a little bit overly harsh on stripping elements and attributes but I'd rather be safe than sorry, especially with it being out in the wild.

There's a smoke test running at http://svg.enshrined.co.uk if you want to test the library and see if

[2018-08-30 09:19] russelg opened #20 "A project utilising svg-sanitizer is violating your license"
CraftCMS (https://github.com/craftcms/cms) is violating the GPLv2 on your project svg-sanitzer.

https://github.com/craftcms/cms/blob/develop/LICENSE.md

[2018-09-03 08:43] darylldoyle commented on #20
Hi @russelg,

Thanks for bringing that to my attention. This is only licenced under the GPLv2 so that it's compatible with WordPress. Other than that, I'm quite happy for others to do what they want with it :)

[2018-09-03 08:43] #20 closed

[2018-09-25 15:40] darylldoyle commented on #19
Closing due to lack of activity

[2018-09-25 15:40] #19 closed

[2018-12-21 14:38] richb-hanover opened #22 ""HTTP error" message when uploading"
Using both WP 4.9.8 and 5.0.2 and Safe SVG version 1.8.1, I get the following error when dragging a SVG file into the Media window.

<img width="362" alt="image" src="https://user-images.githubusercontent.com/1094930/50347372-56c06180-0503-11e9-883d-51a792e1247f.png">

The afflicted file is at: http://test.richb-hanover.com/downloads/monguin.svg (because I cannot upload a .svg to github(!))

What

[2018-12-21 21:01] richb-hanover commented on #22
Sort-of Solved - Updated info:

* The svg file actually *had* been uploaded to wp-content/uploads/2018/12/... Apparently, the "HTTP error" message is pretty generic.
* I added `AddType image/svg+xml .svg .svgz` to the .htaccess file, and now I can see the file in the Media Library (found the clue at https://wordpress.org/support/topic/http-error-when-uploading-images-35/#post-10908592)
* BUT... I

[2018-12-24 06:12] markkap opened #23 "Question: why not to use kses?"
Any reason why in the context of WordPress this library do not use KSES? Is it just to keep it portable or are there any other reasons?

(very shallow inspection of the code reveals functionality with is very similar to what kses does)

[2019-01-03 13:02] darylldoyle commented on #23
Hi @markkap, the main reason to not use KSES is that this library is standalone from WordPress and therefore can be used in other PHP projects. This enables a larger proportion of the PHP community to contribute and test the library.

There was also a discussion around KSES in the initial WordPress core ticket https://core.trac.wordpress.org/ticket/24251#comment:73.

[2019-01-03 13:02] #23 closed

[2019-01-03 13:04] darylldoyle commented on #22
Hi @richb-hanover,

This repo is for the sanitisation library itself rather than the WordPress plugin. I see you've opened and closed a ticket in the WordPress support forums (sorry for not getting back to you, been away over Christmas) but I'll close this in preference of that forum!

[2019-01-03 13:04] #22 closed

[2019-01-03 13:09] markkap commented on #23
Thanks

On Thu, Jan 3, 2019 at 3:02 PM Daryll Doyle <notifications@github.com>
wrote:

[2019-03-30 23:21] cr0ybot opened #26 "Stripping out <animate> tag"
Should `<animate>` tags be whitelisted? I'm not sure if you've chosen to strip them out specifically, but 'animate' is not in the allowed tags array. I've used the `svg_allowed_tags` filter provided by the WordPress plugin to add it for now.

[2019-05-15 10:16] darylldoyle opened #27 "Check out mask-type attribute"
Can the `mask-type` attribute be added with no vulns?

[2019-09-02 09:08] gquere opened #29 "Possible race condition leading to XXE in SVG parser?"
Hello,

The SVG parser might be vulnerale to a XXE.

This kind of construction:
https://github.com/cariagency/spip-logo-svg/blob/master/vendor/enshrined/svg-sanitize/src/Sanitizer.php#L231

Might be vulnerable to a race condition because libxml_disable_entity_loader() is not thread-safe, as described here:
http://legalhackers.com/advisories/zend-framework-XXE-vuln.txt

[2019-09-02 10:22] darylldoyle commented on #29
Hi @gquere,

Thanks for the heads up!

Just to confirm, the worry is that after `libxml_disable_entity_loader()` is called by the `svg-sanitiser` script, another thread re-enables it and then entities end up getting loaded by the sanitiser, because `libxml_disable_entity_loader()` isn't thread-safe?

I've just briefly read around this but will take a closer look later tonight and see if I can find

[2019-09-02 22:19] darylldoyle commented on #29
I've looked into this issue this evening and it seems that `libxml_disable_entity_loader()` was actually made thread-safe in PHP 5.5.22, 5.6.6 and 7.00. So any PHP versions after that should be OK [[source](https://bugs.php.net/bug.php?id=64938)].

I think at this point, if someone is running versions below that, then there are bigger security issues than a timing attack via this library. Zend wen

[2019-09-02 22:19] #29 closed

[2019-09-03 05:49] gquere commented on #29
Thanks for having looked into it!

[2019-09-19 10:25] alex40724 opened #30 "Removing DOCTYPE breaks entities"
Hi,

not sure if I am doing anything wrong here. The sanitizer removes the DOCTYPE which breaks entities being used, e.g. in this adobe export file. After sanitizing this the file and opening directly in a browser, it produce errors like "Entity 'ns_extend' not defined".

before
[code]
after
[code]

[2019-09-20 16:09] sdangt commented on #26
Yeah, this does more than sanitize.  It breaks even the simple animations [at CSS-Tricks](https://css-tricks.com/guide-svg-animations-smil/).  I'm not sure if there is an easy way around that, but maybe it's possible to reliably sanitize some of these animations.  SVG is a handy format for the web, and it would be nice if it was supported by everyone in email.  Many email clients do, but Gmail for

[2019-10-21 07:42] dinhbaouit opened #31 "XSS bypass using entities and tab"
Using payload below to bypass XSS filter:
[code]
Video POC: https://www.youtube.com/watch?v=MIAiX4gkp6U&feature=youtu.be

[2019-10-21 09:56] darylldoyle commented on #31
Thanks @dinhbaouit

I'm currently working on a fix for this that I'll release later today!

[2019-10-21 22:41] #31 closed

[2019-10-21 22:42] darylldoyle commented on #31
@dinhbaouit thanks again for bringing this to my attention! I've tagged the latest release with the updated fix for this and will proceed to get the plugins etc updated.

[2019-10-22 07:22] dinhbaouit commented on #31
OK, Thanks sir

[2019-10-22 09:27] dinhbaouit commented on #31
I think some affected Production.
TYPO3 latest: https://youtu.be/uy6jss0AJl4
Wordpress Plugin Safe SVG: https://youtu.be/MIAiX4gkp6U
I think some Drupal Plugin used it also affect.

[2019-10-22 16:22] ohader commented on #31
@dinhbaouit 🤦‍♀️ → https://en.wikipedia.org/wiki/Responsible_disclosure

[2019-10-23 03:24] dinhbaouit commented on #31
Sorry sir, I will delete it.

[2019-10-23 06:54] mbrodala commented on #31
@darylldoyle You should add a section about how to get in touch for security issues to your README to prevent public reports like this.

[2019-10-30 22:20] larowlan opened #32 "Create new release tag for xss fix"
Now that #31 has been merged, is there a chance a new tag could be created so I can update drupal/svg_sanitizer to pin composer.json to versions after the security fix.

Thanks in advance

Reference issue in drupal.org tracker https://www.drupal.org/project/svg_sanitizer/issues/3064351

Thanks again for this library!

[2019-10-31 04:03] dinhbaouit commented on #31
Hi, I see the fix still be able to bypass
new payload to bypass:
[code]
Why don't you use whitelist to sanitize like xlink:href?

[2019-10-31 04:05] dinhbaouit commented on #31
This regex:
` const SCRIPT_REGEX = '/(?:\w+script|data)(?:\s)?:/xi';`
doesn't safe, \s can put anywhere in "script" string like this:
s\sc\sr\si\sp\st

[2019-11-04 04:29] tsug0d opened #33 "Update some related reference"
Hi Daryll, as discussed we still need some help from you:
- Update the wordpress plugin (https://wordpress.org/plugins/safe-svg/)

Thank you!

[2019-11-04 09:16] darylldoyle commented on #31
@dinhbaouit whilst you're correct, this does get through the sanitiser in a way, I'm struggling to get it to actually execute. The spacing in the middle of the `javascript` keyword, seems to stop browsers from picking up and executing the script:

[code]

The above is what's left if you can show me a way to get this to execute in a browser, as the first bypass you posted did, then I'll be happy to

[2019-11-04 09:17] darylldoyle commented on #32
Apologies, I thought I'd tagged this but forgot to push it 🤦‍♂ It's now been tagged as `0.12.0`.

[2019-11-04 09:17] #32 closed

[2019-11-04 09:42] larowlan commented on #32
🙌

On Mon, Nov 4, 2019, 7:18 PM Daryll Doyle <notifications@github.com> wrote:

[2019-11-04 09:45] darylldoyle commented on #33
All updated, thanks for the help @tsug0d!

[2019-11-04 09:45] #33 closed

[2019-11-04 10:42] dinhbaouit commented on #31
POC for new version plugin wordpress 1.9.5
entities do not convert to raw data, it will be html encoded
https://www.youtube.com/watch?v=hnQA2hc-4_k&feature=youtu.be

[2019-11-28 20:05] angrybrad opened #35 ""Cannot add self usage" error"
Happens when trying to sanitize the attached image.

[icon.svg.zip](https://github.com/darylldoyle/svg-sanitizer/files/3928159/icon.svg.zip)

The SVG validates as valid XML, but I'm not smart enough to know if it's poorly done SVG or a bug in SVG sanitization.

Looks like this commit is where the behavior changed as it worked fine before it: https://github.com/darylldoyle/svg-sanitizer/commit/504d

[2019-12-09 08:01] AndrassGray opened #37 "SVG emptied on sanitize"
So I have an SVG file created as "Export as" in Photoshop CC 2015. Running it through the sanitizer gives the following:

![image](https://user-images.githubusercontent.com/30862808/70417825-5eee1580-1a62-11ea-9b4b-e4fe54401bec.png)

Is there anything I could do to catch this ?

Thanks a ton,
Andrass

[2019-12-09 08:55] darylldoyle commented on #37
Hi Andrass,

It's hard to say why the sanitiser would be stripping this file without seeing the full thing. Is there any chance you can post it, or send it to me in an email to daryll@enshrined.co.uk so that I can run it through locally and debug?

From what I can see, it should pass validation, but it's possible I had an old version up on the smoke test 😬

[2019-12-09 09:04] darylldoyle commented on #35
Hi @angrybrad,

Sorry for the delay in getting back to you. From what I can see, the issue comes from lines `70-71`:

[code]

As you can see, the `xlink:href` attribute on the `<use>` element actually points to the item that is its parent. This is then picked up as recursion and not allowed due to the way we're parsing `<use>` elements to protect against denial of service attacks by using recursiv

[2019-12-09 09:08] darylldoyle commented on #30
Hi @alex40724,

I understand that this is an issue with entities, but unfortunately removing the doctype is the only surefire way to protect against a lot of XML attacks, including XML entity expansion attacks and therefore I have no resolution for this issue.

I'm sorry that's not much help to you, but it's the only way I can see to do this.

[2019-12-09 09:08] #30 closed

[2019-12-09 09:15] darylldoyle commented on #26
Hi Both, for reasons the `<animate>` tag is stripped by default, please see the following examples:

- https://html5sec.org/#89
- https://html5sec.org/#137

If you'd like to allow these yourself, then, by all means, feel free. This library just provides a sensible set of defaults and gives you the ability to adjust all allowed elements and attributes to suit your own preferences.

That said, I won

[2019-12-09 09:15] #26 closed

[2019-12-09 09:22] darylldoyle commented on #37
Hi @AndrassGray,

Thanks for sending the SVG over. I've seen what the issue is now. You're using `data:img/png` but currently the sanitiser only allows `data:image/png`. If you change it to that for a second, it should work. I'll get `data:img/` added to the sanitiser to stop this happening again also!

[2019-12-09 09:27] darylldoyle commented on #37
Closed in 19e85021505b29f3055c1f57a620ee4aa5c24113

[2019-12-09 09:27] #37 closed

[2019-12-09 09:36] AndrassGray commented on #37
Cool thing! Thanks a ton, Daryll !

[2019-12-09 10:21] alex40724 commented on #30
Hi @darylldoyle,

thanks for the answer.

I wonder why this is not an issue for others. Adobe products are widely used and embedding svg in HTML pages should be a common use case, too.

There should be ways to remove the DOCTYPE and keep the file valid by resolving the entities / replacing the references in the attributes.

Currently I do not have the time to provide a PR for this, maybe later...

[2019-12-09 16:41] angrybrad commented on #35
Makes sense and thanks for the follow-up. Will go ahead and close this.

[2019-12-09 16:41] #35 closed

[2020-05-19 07:32] mwittstrom opened #39 "Empty hrefs filling up the log"
There are alot of erroneous "Suspicious attribute 'href'" in the log ( $xmlIssues )
This makes it difficult to use the function getXmlIssues() the check if an svg string was correct.

This is caused by $element->getAttribute('href') returning an empty string for elements that doesn't have a href attribute, in combination with the function isHrefSafeValue saying that empty href aren't safe.

Adding

[2020-05-26 16:28] joshuabaker opened #40 "Add filterUnits to allowed attributes"
We’ve run into an issue with SVGs exported from [Figma](https://www.figma.com/) that utilise the [`filterUnits`](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/filterUnits) attribute.

[code]

Are we able to include this in the attributes whitelist, or is there a reason for it’s exclusion?

[2020-05-27 13:13] asilelik commented on #39
Created #42

[2020-06-18 01:20] 30129071 opened #43 "Standalone scanning of files via CLI throwns Uncaught Error: Class with XPath"
`php ../svg-sanitizer/src/svg-scanner.php "../myTestSVG.svg"

Fatal error: Uncaught Error: Class 'enshrined\svgSanitize\data\XPath' not found in C:\svg-sanitizer\src\Sanitizer.php:214
Stack trace:
#0 C:\svg-sanitizer\src\svg-scanner.php(126): enshrined\svgSanitize\Sanitizer->sanitize('<?xml version="...')
#1 {main}
  thrown in C:\svg-sanitizer\src\Sanitizer.php on line 214`

I've used different ve

[2020-10-22 19:27] angrybrad opened #46 "Support PHP 8"
PHP 8 comes out in a few days - from what I can tell, this library works except for a few deprecation warnings.

https://stitcher.io/blog/new-in-php-8

PR https://github.com/darylldoyle/svg-sanitizer/pull/45 resolves it.

[2021-01-21 10:13] #39 closed

[2021-05-07 21:45] tackc opened #48 "Demo website not using https"
While visiting the demo website, I noticed it wasn't using https. Same with the link in your README

[2021-05-25 17:56] rebeccahum opened #49 "Safelist to allow image elements in href attributes for SVGs"
Since I don't think this is currently possible, it would be nice to be able to be able to use `setAllowedAttrs()` to detect a starting pattern inside a `href` attribute like `data:image/*`.

e.g. This gets false positive flagged:

[code]

[2021-07-09 14:38] xerc opened #51 "suggestion/ remove first line; <?xml"
"The XML declaration is only required if you are using a non-Unicode character encoding"
ref. https://oreillymedia.github.io/Using_SVG/extras/ch01-XML.html

[2021-07-13 08:15] ohader commented on #46
Since PR #45 is merged, I guess this issue can be closed...

[2021-07-15 21:01] ohader opened #52 "Remove doctype node after node elements have been analyzed"
This is really a strange scenario - however in the end it occasionally caused segmentation faults...

[code]

PR #53 adds corresponding [`entityTest.svg`](https://github.com/darylldoyle/svg-sanitizer/pull/53/files#diff-6bef15e0f34ff937408f18e8268ebcb893a2d8fbd66706915b617d5b679968d0) (used in test-case [`doctypeAndEntityAreRemoved`](https://github.com/darylldoyle/svg-sanitizer/pull/53/files#diff-3

[2021-07-16 18:33] ohader opened #54 "Add GitHub actions"

[2021-08-02 08:49] redikultsevsilver opened #56 "Change the license type to MIT or to Apache 2.0 or to the double license GPL v2 + MIT or GPL v2 + Apache 2"
Hi @darylldoyle!

I hope everything is great.

We would like to use your library, however we are working on a non-open source software.
The current license (GPL v2) is blocking us from using the library.

Could you please consider changing the license to MIT or to Apache 2.0?
Or perhaps having a double license like  GPL v2 + MIT or GPL v2 + Apache 2 would be fine for you?

In that case more softwa

[2021-08-02 09:46] ohader commented on #56
In general, GPL does not disallow using corresponding software components in proprietary products - however, GPL ensures that free software stays free - thus, vendors are not allowed to restrict that freedom once it has been granted. That's the general idea...

Changing to Apache 2.0 would not be an option since it would lead to incompatibilities for current users (most of them compatible to GPLv2

[2021-08-03 06:58] Kooper commented on #56
Will introduction of LGPL be somewhat easier?
It will still guarantee that free software stays free and will not demand release of proprietary code which uses the library under GPL-compatible license.

[2021-08-03 08:49] darylldoyle commented on #56
Hi All 👋

Thanks for having this discussion.

I am a big believer in the GPL licence, unfortunately, that means that some people can't use this library in their own software without releasing it under the GPL. This is an unfortunate case, but this is an open-source library and I intend for it to stay that way.

If the GPL is incompatible with your licencing, I apologise for that, but I won't chang

[2021-08-03 08:49] #56 closed

[2021-08-03 08:51] #46 closed

[2021-08-08 13:09] ohader commented on #43
Standalone scanner does not rely on Composer autoload. That's why new `.../data/XPath.php` needs to be added to the `require` section as well, see https://github.com/darylldoyle/svg-sanitizer/blob/master/src/svg-scanner.php#L11-L15

[2021-08-08 13:17] ohader commented on #27
Style property `mask-type` and node `<mask>` seem to be okay, https://developer.mozilla.org/en-US/docs/Web/CSS/mask-type

[2021-08-08 13:20] ohader commented on #51
Sounds more like a tidy-feature to me. Users have to configure that behavior individually - removing `<?xml` prologue per default does not seem to be a good idea.

[2021-08-08 13:32] ohader commented on #49
As far as I understood, it's not about the attribute name (like `href`), but about declaring allowed values or value patterns?

I've been working on a DOM-base sanitizer for HTML, recently - it seems some concepts could be reused here as well to introduce custom `Behavior`. Please have a look to the example at https://github.com/typo3/html-sanitizer#example--api

---

[code]
*... would allow to de

[2021-08-08 13:53] ohader opened #58 "Convert standalone scanner to be proper Symfony console application"
https://github.com/darylldoyle/svg-sanitizer/blob/master/src/svg-scanner.php

* use proper Composer-based autoloading
* make use CLI input options of `symfony/console` package

[2021-08-08 17:32] xerc commented on #51
fyi/ this tool add this line even if it is not there in the first place

[2021-08-09 23:37] #43 closed

[2021-08-09 23:49] #54 closed

[2021-08-09 23:49] #52 closed

[2021-08-10 00:01] darylldoyle commented on #48
Thanks. The website has been made https

[2021-08-10 00:01] #48 closed

[2021-09-03 14:51] Bersman opened #63 "Allow attributes that Adobe Illustrator export makes"
We have exported a SVG with Adobe and the sanitizer does not like that. It give the following errors:
There are sanitization issues with this SVG file:
Suspicious attribute 'space' in line 4
Suspicious attribute 'enable-background' in line 4

Generator is: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)

I wil make an PR for the enable-background attribute.
The space attr

[2021-09-03 14:55] Bersman opened #64 "Whitelist attribute xml:space not recognised"
We have exported a SVG with Adobe and the sanitizer does not like that. It give the following errors:
There are sanitization issues with this SVG file:
Suspicious attribute 'space' in line 4
Suspicious attribute 'enable-background' in line 4

Generator is: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)

Issue #63 is for the enable-background.
But the space attribute is s

[2021-09-03 15:05] ohader commented on #63
Can you please add an example SVG snippet showing usage of `enable-background`? Thx

[2021-09-03 15:08] ohader commented on #63
Spotted `<svg ... enable-background="new 0 0 600 600">` in PR #65

[2021-09-21 07:00] letharion opened #66 "libxml_disable_entity_loader is deprecated"
I was testing out my project on PHP 8 and got a warning about libxml_disable_entity_loader being deprecated:

https://www.php.net/manual/en/function.libxml-disable-entity-loader.php says:

I've only taken a cursory glance at it, but it seems like the solution would be to pass an empty function or some other no-op into https://www.php.net/manual/en/function.libxml-set-external-entity-loader.php ins

[2021-09-21 07:08] letharion commented on #66
Nevermind, I see the code already has a solution.

[2021-09-21 07:08] #66 closed

[2021-10-31 16:09] xerc opened #67 "Check/Remove unused id-attributes"
INPUT
[code]
OUTPUT
[code]

[2021-10-31 16:10] xerc commented on #67
optional/ also remove empty TAGs; `/<([a-z]+)\s*>\s*<\/\1>\s*/i/`

[2021-11-16 16:18] xerc commented on #67
definitely ; but this ID should be in the root line of <svg/> or <symbol/> not within the content - or?

[2021-11-16 16:26] ohader commented on #67
There are no restrictions to which nodes and how deep down in document hierarchy `id` attributes are assigned.

[2021-11-16 17:36] xerc commented on #67
true

[2021-11-16 17:36] #67 closed

[2022-02-14 00:58] #40 closed

[2022-02-14 01:07] darylldoyle commented on #49
Interesting, so I guess you're looking for a way to filter the `isHrefSafeValue()` method?

I think that could be a good addition, my concern was always that people could allow things without having context on why they're not allowed by default. I'll have a look into this.

@ohader I'd love to hear more about that, do you have that code anywhere that I can look into?

[2022-02-14 01:07] #8 closed

[2022-02-14 12:22] jkanape opened #70 "CDATA section is removed"
From version 15.0 CDATA nodes are removed.

Example document:
[code]

Result from 15.0 (15.1, 15.2):
[code]
**Suspicious node '#cdata-section'**

Result before 15.0 (14.1):
[code]

Can't find a way to add `#cdata-section` to safe nodes, as list is hardcoded
[code]

[2022-02-14 16:03] ohader opened #71 "Requesting more details on GHSA-fqx8-v33p-4qcc (CVE-2022-23638)"
It seems tag `0.15.0` addressed a security vulnerability, see corresponding advisory https://github.com/darylldoyle/svg-sanitizer/security/advisories/GHSA-fqx8-v33p-4qcc (CVE-2022-23638)

Corresponding commit at https://github.com/darylldoyle/svg-sanitizer/commit/17e12ba9c2881caa6b167d0fbea555c11207fbb0 contains a new test case [`tests/data/htmlTest.svg`](https://github.com/darylldoyle/svg-sanitiz

[2022-02-16 20:39] darylldoyle commented on #71
@ohader you're correct. The concern here was that any of the following tags will cause the HTML parser to break out of foreign content and back into HTML.

A start tag whose tag name is "font", if the token has any attributes named "color", "face", or "size"
An end tag whose tag name is "br", "p"

As per: https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inforeign

Specifically this

[2022-02-16 22:00] zcorpan commented on #70
As I commented in https://github.com/darylldoyle/svg-sanitizer/security/advisories/GHSA-fqx8-v33p-4qcc

[2022-02-16 23:27] zcorpan opened #74 "Why are HTML and MathML elements allowed?"
Since `foreignObject` is not allowed, the only places you can use HTML or MathML would be `title` or `desc` (at least in a text/html context). Since both of those are invisible, it doesn't seem compelling to allow usage of HTML or MathML elements at all?

Allowing HTML tag names makes it easier to find bypasses, especially when the output is used inline in text/html.

[2022-02-17 06:47] ohader commented on #74
Sounds reasonable to me to drop all Other-ML elements due to [`foreignObject`](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject) being not allowed.

Besides that, there probably should be more unit test cases for exactly these kind of scenarios.

[2022-02-21 09:13] #70 closed

[2022-03-28 08:23] LetsRumpel commented on #30
Same issue in a large corporate website, causing serious problems.
Killing all dogs helps against rabid dogs ...
But what about the sled dogs?

[2022-04-28 08:17] frank-miller9 opened #78 "Using library as SVG validator"
Hello @darylldoyle thank you for this great library, it works really well.

I would like to use this library as a validation when uploading a SVG. In general it works ok, but there are some "feature requests" which probably could improve the handling. The use case it, that we want to decide if we allow the upload of the SCG or not not to clean up the uploaded SVG.

So we tried to sanitize and then

[2022-06-21 00:19] derryberni opened #80 "[ask] it's possible to use on php 5.6 ?"
Hello i wanna ask my application use php 5.6
when i'm try to install it no show error and when use it not show error also.
there are possibility issue when use php 5.6? because i see support package "php": "^7.0 || ^8.0"

Thanks

[2022-08-09 21:39] benjiwheeler commented on #49
I'm a bit confused -- when I use the project author's online demo at https://svg.enshrined.co.uk/ , your code comes through fine. What am I missing?

[2022-08-20 19:22] bembelimen commented on #64
Problem is: https://github.com/darylldoyle/svg-sanitizer/blob/master/src/Sanitizer.php#L369

Change:

[code]
to
[code]
it solves the problem, I'm unsure about the side effects...

[2022-08-21 21:39] brianteeman opened #82 "suspicious node svg"
If there is a doctype then this is reported as an error

For example take any svg from the[ svg 1.1 structural specification](https://www.w3.org/TR/SVG11/struct.html)
[code]

This produces the error
[code]

[2022-09-09 16:00] darylldoyle commented on #80
Thanks @derryberni, it currently doesn't run on 5.6.

@ohader I remember that 5.6 support was dropped, but I can't remember why. That said, I'd love your thoughts on trying to add back 5.6 support. It seems like WordPress are also considering utilising this library to allow SVG uploads, but since WP maintains 5.6 support, this would be a blocker. See https://github.com/WordPress/performance/issues

[2022-09-09 16:09] ohader commented on #80
Hm, I don't think there was a "strong" reason for dropping PHP 5.6 support - basically due to the fact it was officially unsupported at that time already. I know there are PHP5 forks of this library, I'll try to get their opinion on this topic...

[2022-09-09 17:46] ohader commented on #80
The way to a PHP5-compat version does not seem to be too difficult:
https://github.com/darylldoyle/svg-sanitizer/compare/master...TYPO3GmbH:svg-sanitize-elts7:master

In case anyone wants to pick that up and re-introduces those commits, just go ahead 👍